:host {
    min-width: 380px;
}

input[type="search"] {
    padding: 5px;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 10px;
    width: 10em;
}

#basketTip {
    width: 500px;
    max-width: 80%;
    padding: 5px;
}

#basketTip::shadow img {
    max-width: 40px;
    max-height: 40px;
    margin: 2px;    
}

#pages > * {
    background-color: white;
}

#pages {
    width: 90%;
}

@media only screen and (max-width: 650px) {
    #pages {
        width: 100%;
    }
}


